@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to bottom right, #F3F4F6, #DBEAFE, #F3F4F6);
  --foreground: #1F2937;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input::placeholder { color: #6B7280; }